/*
 * Modified from: https://gist.github.com/killercup/5917178
 */

body {
  color: #444;
  background: #fefefe;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  font-size: 12px;
  line-height: 1.7;
  padding: 1em;
  margin: auto;
  max-width: 42em;
  counter-reset: indexer 0;
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

pre, code {
  color: #000;
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 0.98em;
  background-color: #f6f8fa;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border: 3px;
  border-color: #111;
  border-style: double;
}

.example, details[open] {
  background-color: #f6f8d8;
  padding: 1em;
  border: 3px;
  border-color: #111;
  border-style: double;
}

a {
  color: #08f;
  text-decoration: none;
}

a:visited {
  color: #08f;
}

a:hover {
  color: #2af;
}

a:active {
  color: #faa700;
}

a:focus {
  outline: thin dotted;
}

p {
  margin: 1em 0;
}

h1, h2, h3 {
  color: #111;
}'''''

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

ul ul, ol ol {
  margin: .3em 0;
}

table {
  border-bottom-color: #ddd;
  border-right-color: #ddd;
}

table th {
  background-color: #eee;
  border-top-color: #ddd;
  border-left-color: #ddd;
}

table td {
  border-top-color: #ddd;
  border-left-color: #ddd;
}

.block {
  border-style: solid;
  border-width: 3px;
  margin-top: 2em;
  padding: 1em;
  counter-increment: indexer 1;
  position: relative;
}

.block:before {
  content: counter(indexer) ". ";
  display: block;
  position: absolute;
  right: calc(100% + 1em);
  line-height: 125%;
  font-weight: normal;
  font-size: 1.5em;
}

.ideal {
  border-color: gold;
}

.rule {
  border-color: red;
}

.suggestion {
  border-color: blue;
}

.ideal:before {
  color: gold;
}
.rule:before {
  color: red;
}
.suggestion:before {
  color: blue;
}

.block>h3 {
  margin-top: 0em;
}

details[open] summary {
  position: absolute;
  left: 1em;
}

details[open] {
  margin-left: 1.75em;
}

details {
  padding: 0px;
  border: 0px;
  border-color: #111;
  border-style: none;
}

.highlight {
  font-weight: bold;
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: blue;
}

del {
  text-decoration-line: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 3px;
}

@media (prefers-color-scheme: dark) { /* default colours in comments */
  body {
	color: #eee; /* 444 */
	background: #333; /* fefefe */
  }
  
  pre, code {
	color: #2d2; /* 000 */
	background-color: #000; /* f6f8fa */
  }
  
  .example, details[open] {
	background-color: #331; /* f5f8d8 */
	border-color: #ccc; /* 111 */
  }
  
  .ideal {
	border-color: khaki;
  }
  
  .rule {
	border-color: crimson;
  }
  
  .suggestion {
	border-color: cornflowerblue;
  }
  
  .ideal:before {
	color: khaki;
  }
  .rule:before {
	color: crimson;
  }
  .suggestion:before {
	color: cornflowerblue;
  }

  .highlight {
	text-decoration-color: cornflowerblue;
  }
  
  del {
	text-decoration-color: crimson;
  }
  
  a {
    color: #2af; /* 08f */
  }
  
  a:visited {
    color: #2af; /* 08f */
  }
  
  a:hover {
    color: #4cf; /* 2af */
  }
  
  a:active {
    color: #fc9; /* faa700 */
  }
  
  h1, h2, h3 {
    color: #ccc; /* 111 */
  }
  
  table {
	border-bottom-color: #111; /* ddd */
    border-right-color: #111; /* ddd */
  }
  
  table th {
    background-color: #222; /* eee */
	border-top-color: #111; /* ddd */
    border-left-color: #111; /* ddd */
  }
  
  table td {
	border-top-color: #111; /* ddd */
    border-left-color: #111; /* ddd */
  }
  
  table tr:nth-child(even) {background: #222} /* eee */
  table tr:nth-child(odd) {background: #333} /* fff */
}